{ 
	"logAll": "yes",
	"botSupport": "no",
	
	"botName": "EKANS EYE",
	"botID": "313634924366397444",
	"botAvatar": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/NinjaAvatar.png",
	"token": "MzEzNjM0OTI0MzY2Mzk3NDQ0.Dffugw.afRuxdwYBqZ9UixtM1LVX-nCM6o",
	
	"ownerID": "289760722622349312",
	
	"myServer": { 
		"server": "279117936856268801", 
		"name": "ROGUE NATION - CentCom",
		"invite": "https://discord.gg/Buu4K2v"
	},
	
	"goodColor": "#00FF00",
	"warningColor": "#FF9900",
	"dangerColor": "#FF0000",
	"snipeImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/User-Spoof.png",
	"honorImg": "https://raw.githubusercontent.com/JennerPalacios/SimpleSpoofNinja/master/img/User-Badge.png",
	
	"cmdChanID": "#mutuallyassureddestruction",
	"webhook": "#mutuallyassureddestruction",
	
	"adminRoleName": "<TEXT_ROLE_I_GAVE_TO_ADMINS>",
	"modRoleName": "<TEXT_ROLE_I_GAVE_TO_MODERATORS>",
	"whitelist": "<USER_ID_NUMBER_1> <USER_ID_NUMBER_2> <USER_ID_NUMBER_3> NUMBERS SEPARATED BY SPACE, NO COMMAS!!!",
	
	"prefix": ">"
}
